@model Dish

<a href="/">Home</a>
<h1 class="display-4">Edit this dish!</h1>

<form asp-action="Update" asp-controller="Home">
    <input type="hidden" asp-for="DishId">
    <span asp-validation-for="chefsName"></span>
    <label asp-for="chefsName"></label>
    <input asp-for="chefsName">

    <span asp-validation-for="dishName"></span>
    <label asp-for="dishName"></label>
    <input asp-for="dishName">

    <span asp-validation-for="calories"></span>
    <label asp-for="calories"></label>
    <input asp-for="calories">

    <span asp-validation-for="tastiness"></span>
    <label asp-for="tastiness"></label>
    <select asp-for="tastiness">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

    <span asp-validation-for="description"></span>
    <label asp-for="description"></label>
    <textarea asp-for="description"></textarea>


    <button>Edit dish</button>
</form>