@model List<Dish>

@{
    ViewData["Title"] = "CRUDelicious";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CRUDelicious</h1>
    <p class="lead">Check out some recent dishes!</p>
    <a href="/new">Add A Dish</a>
    <hr>
    @foreach(var dish in Model)
    {
    <p class="lead"><a href="">@dish.dishName</a> by @dish.chefsName</p>
    }
</div>
